# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Allow specific image files
!images/gem-icon.png
.vercel

# Ignore all images except specific ones and assets
*.png
*.jpg
*.jpeg
*.gif
*.svg

# But allow SVGs in the assets directory
!src/assets/*.svg
